.Toastify__toast-body {
	margin: auto 0;
	flex: 1 1 auto;
	padding: 6px;
	display: flex;
	align-items: center;
	width: 500px !important;
}

.form-styling-wrapper {
    margin: 80px 0px 135px;
    padding: 40px;
    background-color: #d9d9d91c;
    scroll-margin-top: 160px;
}

.form-styling-wrapper.preview {
    animation: preview 1s ease forwards;
}

@keyframes preview {
    from {
        max-height: 500px;
    }
    
    to {
        max-height: 900px;
    }
}

.reservation-form {
    padding: 10px;
    position: relative;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0px auto 0px;
}

.reservation-form h2 {
    font-family: 'Montserrat';
    font-weight:300;
    color: #fff;
    font-size: clamp(1.6rem, 8vw, 4rem);
    text-align: center;
}

.form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 200px;
}

.name,
.quantity,
.calendar,
.time {
    position: relative;
}

.name {
    display: flex;
    align-items: center;
}

.name .user-icon {
    position: absolute;
    font-size: 1rem;
    color: #000;
    left: 10px;
}

.name input {
    padding: 8px 0px 8px 30px;
        border-radius: 6px;

    border: none;
    width: 100%;
    font-family: 'OpenSauceSans';
    cursor: pointer;

}

 /* USER ICON */
    
 .quantity  {
    display: flex;
    align-items: center;
}
.quantity .user-icon {
    position: absolute;
    font-size: 1rem;
    color: #000;
    left: 10px;
}

.quantity select {
    padding: 8px 0px 8px 30px;
    width: 100%;
    background-color: #fff;
    border: none;
        border-radius: 6px;
    font-family: 'OpenSauceSans';
    cursor: pointer;

}

/* CALENDAR ICON */

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-icon {
    position: absolute;
    font-size: 1rem;
    color: #000;
    left: 10px;
}

.calendar input {
    padding: 8px 0px 8px 30px;
        border-radius: 6px;

    border: none;
    width: 100%;
    font-family: 'OpenSauceSans';
    cursor: pointer;

}

/* TIME ICON */

.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-icon {
    position: absolute;
    left: 10px;
}

.time select {
    padding: 8px 0px 8px 30px;
    border-radius: 6px;
    border: none;
    width: 100%;
    font-family: 'OpenSauceSans';
    cursor: pointer;

}

.reservation-form button {
    padding: 8px 10px;
    width: auto;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    background-color: transparent;
    font-family: 'OpenSauceSans';
    font-size: 0.9rem;
    cursor:pointer;
}

.preview-reservation {
    margin: 0px auto;
    padding: 40px 30px;
    background-color: #0C120C;
    color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    animation: previewReservation 1s ease forwards;
    outline: solid;
}

@keyframes previewReservation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview-reservation p {
    text-align: center;
    width: 100%;
}

.preview-reservation p span {
    font-weight: bold;
    text-decoration: underline;
}



@media screen and (min-width: 1025px) {
    .form-styling-wrapper {
        margin: 80px 0px 140px;
        scroll-margin-top: 340px;
    }
    
    .form-styling-wrapper.preview {
        animation: preview 2s ease forwards;
    }
    
    @keyframes preview {
        from {
            max-height: 300px;
        }
        
        to {
            max-height: 800px;
        }
    }
    
    .form-inputs-wrapper {
        flex-direction: row;
        row-gap: 0px;
        column-gap: 20px;
        width: auto;
    }
    
    /* USER ICON */
    
    .quantity .user-icon {
        display: flex;
        align-items: center;
    }

   .quantity .user-icon {
        position: absolute;
        font-size: 1rem;
        color: #000;
        left: 10px;
    }
    
    .quantity select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 8px 0px 8px 30px;
        width: 150px;
        background-color: #fff;
        border: none;
            border-radius: 6px;
        
        font-family: 'OpenSauceSans';
        cursor: pointer;
    
    }
    
    /* CALENDAR ICON */
    
    .calendar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .calendar-icon {
        position: absolute;
        font-size: 1rem;
        color: #000;
        left: 10px;
    }
    
    .calendar input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 8px 0px 8px 30px;
            border-radius: 6px;
    
        border: none;
        width: 150px;
        font-family: 'OpenSauceSans';
        cursor: pointer;
    
    }
    
    /* TIME ICON */
    
    .time {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .time-icon {
        position: absolute;
        left: 10px;
    }
    
    .time select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 8px 0px 8px 30px;
        border-radius: 6px;
        border: none;
        width: 150px;
        font-family: 'OpenSauceSans';
        cursor: pointer;
    
    }
    
    .reservation-form button {
        width: auto;
    }
    
    .preview-reservation {
        margin: 0px auto;
        padding: 40px 20px;
        background-color: #0C120C;
        color: #fff;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        animation: previewReservation 1s ease forwards;
    }
    
    @keyframes previewReservation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .preview-reservation p br {
        display: none;
    }
    
    .preview-reservation p span {
        font-weight: bold;
        text-decoration: underline;
    }
}



