    /* This styling is for Components/About/TeamMember/index.jsx */
    
    .team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        position: relative;
        padding: 10px;
        text-align: center;
    }

    .team-member::before {
        position: absolute;
        content: '';
        top: 0px;
        left: 0px;
        width: 50%;
        bottom: 0px;
        background: linear-gradient(to right, #BB4604, #FF0D39);
        z-index: -1;
        background-size: 0%;
        transition: all 1s ease;
        background-repeat: no-repeat;
        background-position: left;
        border-radius: 12px 0px 0px 12px;
    }
    .team-member::after {
        position: absolute;
        content: '';
        top: 0px;
        right: 0px;
        width: 50%;
        bottom: 0px;
        background: linear-gradient(to left, #BB4604, #FF0D39);
        z-index: -1;
        background-size: 0%;
        transition: all 1.2s ease;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 0px 12px 12px 0px;
    }
    

    .team-member:hover::before {
         background-size: 150%;
         background-position: right;
    }

    .team-member:hover::after {
        background-size: 150%;
        background-position: left;
    }
    
    .team-member .team-member__image  {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    
    .team-member pre {
        font-family: 'OpenSauceSans';
        font-size: 0.9rem;
        line-height: 1.7;
        letter-spacing: 0.35px;
        text-align: center;
        color: #fff;
    }
