/* Home Page Main Content */
@media screen and (min-width: 1120px) {
    .ember-house-home-main {
        background-color: #0C120C;
        padding: 60px 20px 80px;

    }

    .home-page-headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat';
    }

    .home-page-headers h2 {
        color: #FF933F;
        font-size: 4rem;
        font-weight: 400;
    }

    .home-page-headers h4 {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 300;
    }

    .category-btns {
        padding: 20px;
        outline: 1px solid #fff;
        border-radius: 16px;
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        margin: 40px auto 60px;
    }

    .category-btns button {
        background-color: transparent;
        color: #fff;
        border: none;
        outline: 1px solid #fff;
        padding: 10px;
        width: 150px;
        border-radius: 10px;
        cursor: pointer;
    }

    /* Menu Preview Section */

    .menu-preview-section {
        max-width: 1400px;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        justify-items: center;
        padding: 5px;
        column-gap: 10px;
        row-gap: 80px;
    }

    .menu-preview-section img {
        box-shadow: 2px 2px 10px -2px #000;
        border-radius: 16px;
    }

    .menu-preview-section p {
        color: #fff;
        font-family: 'OpenSauceSans';
        max-width: 500px;
        line-height: 2;
        letter-spacing: 0.8px;
    }
}