

footer {
    background: #d9d9d91c;
    color: #fff;
    padding: 40px 10px;
    max-width: 1800px;
   
    margin: 0px auto;
}

footer h2 {
    color:#FF933F;
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

.footer-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -2px #000;
}

.business-location-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    font-size: 1.2rem;
}

.business-location-info p {
    margin: 10px 0px;
}

.business-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    font-size: 1.2rem;
    padding-right: 40px;   
}