footer {
    background-color: #d9d9d91c;
    color: #fff;
    padding: 40px 10px;
    max-width: 1800px;
    font-family: 'OpenSauceSans';
    margin: 0px auto;
}

footer h2 {
    font-family: 'Montserrat';
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 300;
    text-align: center;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
}

.business-location-info {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.7;
    row-gap: 10px;
}



.footer-content-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -2px #000;
}

.newsletter {
    width: 80%;
    margin-bottom: 10px;
}

.newsletter button {
    margin-top: 10px;
    padding: 8px 10px;
    width: auto;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    background-color: transparent;
    font-family: 'OpenSauceSans';
    font-size: 0.9rem;
    cursor:pointer;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 10px;
}

fieldset label {
    font-size: 1.2rem;
}

fieldset input {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.business-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.business-hours h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

.business-hours .day {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-family: 'OpenSauceSans';
    font-weight: 500;
}

.business-hours .available-hours {
    font-size: 0.9rem;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
}



@media screen and (min-width: 1025px) {
    footer {
        padding: 40px 10px;
    }
    
    footer h2 {
        font-family: 'Montserrat';
        font-size: 4rem;
    }
    
    .footer-content-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    

    
    .business-location-info {
        margin-top: 0px;
        text-align: center;
        flex-direction: row;
        column-gap: 60px;
        font-size: 1.2rem;
    }
    
    .newsletter {
        width: 20%;
    }
    
    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        row-gap: 10px;
    }
    
    fieldset label {
        font-size: 1.2rem;
    }
    
    fieldset input {
        padding: 8px;
        width: 100%;
    }
    
    .business-location-info p {
        margin: 10px 0px;
    }
    
    .business-hours {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        padding-right: 40px;   
    }
    
    .business-hours h6 {
        font-weight: bold;
        font-size: 1.3rem;
    }
    
    .business-hours .day {
        margin-bottom: 5px;
        font-size: 1.1rem;
        font-family: 'OpenSauceSans';
        font-weight: 500;
    }
    
    .business-hours .available-hours {
        font-size: 0.9rem;
    }

    .newsletter button  {

        width: 100%;
}
}