@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

@font-face {
    font-family: 'OpenSauceSans';
    src: URL('/OpenSauceSans-Regular.ttf') format('truetype');
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0C120C;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}


.text-gradient {
    background: -webkit-linear-gradient(#BB4604, #FF0D39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #4e6e8d38;
  }